apiVersion: v1
kind: Service
metadata:
  name: gatekey-web
  labels:
    app.kubernetes.io/name: gatekey
    app.kubernetes.io/component: web
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: gatekey
    app.kubernetes.io/component: web
