apiVersion: v1
kind: ConfigMap
metadata:
  name: gatekey-config
  labels:
    app.kubernetes.io/name: gatekey
    app.kubernetes.io/component: server
data:
  database-host: "gatekey-postgresql"
  database-port: "5432"
  database-name: "gatekey"
  server-url: "http://gatekey-server:8080"
