apiVersion: v1
kind: Service
metadata:
  name: gatekey-server
  labels:
    app.kubernetes.io/name: gatekey
    app.kubernetes.io/component: server
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: gatekey
    app.kubernetes.io/component: server
