apiVersion: v1
kind: Service
metadata:
  name: gatekey-postgresql
  labels:
    app.kubernetes.io/name: gatekey
    app.kubernetes.io/component: postgresql
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: postgresql
      protocol: TCP
      name: postgresql
  selector:
    app.kubernetes.io/name: gatekey
    app.kubernetes.io/component: postgresql
